---
layout: default
---
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ site.title }}
      </h1>
      <h2 class="subtitle">
        {{ site.description }}
      </h2>
    </div>
  </div>
</section>
<div class="tile is-ancestor">
{% for post in site.posts %}
  {% assign loopindex = forloop.index | modulo: 3 %}
  {% if loopindex == 1 %}
</div>
<div class="tile is-ancestor">
  {% endif %}
  <div class="tile is-parent">
    <div class="tile is-child card">
      <header class="card-header">
        <p class="card-header-title">
          {{post.category}}
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <p class="title">
            <a href="{{ post.url }}">{{post.title}}</a>
          </p>
          <p class="subtitle">
            {{post.date | date_to_string}}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>