---
layout: default
---
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Dave Stevens
      </h1>
      <h2 class="subtitle">
        Web Engineering, JavaScript, nodeJS, hapi.js; Anglo-American Software Engineer in Las Vegas, NV.
      </h2>
    </div>
  </div>
</section>
<div class="tile is-ancestor">
{% for post in site.posts %}
  {% assign loopindex = forloop.index | modulo: 3 %}
  {% if loopindex == 1 %}
</div>
<div class="tile is-ancestor">
  {% endif %}
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title"><a href="{{ post.url }}">{{post.title}}</a></p>
      <p class="subtitle">{{post.category}}</p>
      <div class="content">
        <p>
          {{post.synopsis}}
        </p>
      </div>
    </article>
  </div>
{% endfor %}
</div>

<!-- https://www.youtube.com/watch?v=Mth0XRQ93rM">Video of a talk I gave on using Hapi.js plugins to version your API @ Hapi Day Oakland, Dec 2014</a -->
<!--        <a href="/startup-or-bare-minimum-security">A series on Startup/Bare Minimum Application Security I wrote</a-->