---
layout: post
blog: true
---

{{ content }}

<h2>Your Feedback / Dissent</h2>
<p>
 In creating this, my aim is to improve Application Security in
 the early stage companies that will often consider the topic "something
 we'll get to when we scale". As such, critiques, comments, dissenting
 opinions and any other type of feedback is welcomed and indeed, heartily
 encouraged.
</p>
<p>
 Constructive feedback will be reflected in the posts themselves at
 the most relevant points.
</p>
<p>
 If you've got feedback for me, or you have questions about how to apply
 this to your own startup / project, you can get in touch:
</p>
<p>
  Twitter: <a href="http://twitter.com/dstevensio">@dstevensio</a>
</p>
<p>
  Email: <a href="mailto:davestevens84@gmail.com">davestevens84@gmail.com</a>
</p>
<hr>
<div class="row sss-contents">
  <div class="col-lg-4">
    <a href="/startup-or-bare-minimum-security">Part 1 - Introduction</a>
  </div> 
  <div class="col-lg-4">
    <a href="/startup-or-bare-minimum-security-part-2-xss">Part 2 - XSS</a> 
  </div>
  <div class="col-lg-4">
    <a href="/startup-or-bare-minimum-security-part-3-csrf">Part 3 - CSRF</a>
  </div>
</div>
<div class="row sss-contents">
  <div class="col-lg-4">
    <a href="/startup-or-bare-minimum-security-part-4-sqli">Part 4 - SQLi</a>
  </div> 
  <div class="col-lg-4">
    <a href="/startup-or-bare-minimum-security-part-5-spammers">Part 5 - Spammers</a> 
  </div> 
  <div class="col-lg-4">
    <a href="/startup-or-bare-minimum-security-part-6-ddos">Part 6 - DDoS</a>   
  </div> 
</div>  
