---
layout: post
blog: true
---

<article class="message">
  <div class="message-body">
    <em>I <a href="https://twitter.com/dstevensio/status/658723282884128768">made a request on Twitter earlier today</a>, offering to answer questions from new or junior engineers coming in to the industry. My reasoning was that over the years I've had the good fortune to have had many great engineers and managers to learn from, and I want to be better at helping out those getting started with questions they have. Here's my response to one reply:</em>
  </div>
</article>
<div class="box">
  <strong>{{page.question_asker}}</strong>:
  <p>
    <a href="{{page.question_link}}">{{page.question}}</a>
  </p>
</div>

{{ content }}

<article class="message">
  <div class="message-body">
    If you have a question for me in this space, <a href="https://twitter.com/dstevensio/status/658723282884128768">reply to my original Tweet</a>. Thanks!
  </div>
</article>