---
layout: post
blog: true
---

{{ content }}

{% if page.youtubeID %}
<h2>Video</h2>
<iframe width="600" height="400" src="//www.youtube.com/embed/{{ page.youtubeID }}" frameborder="0" allowfullscreen></iframe>
{% endif %}

<h2>JSConf 2013</h2>
<p>
  This is a quick summary of a talk I attended at <a
    href="http://2013.jsconf.us">JSConf 2013</a>. You can <a
    href="/jsconf-2013-talks-list">see a list
  of all those I've summarized notes from here</a>. There's also a <a
  href="/general-thoughts-during-jsconf-2013">General thoughts during
  JSConf 2013</a> post for all the non-talk bits and pieces.
</p>
<p>
  If you haven't been to a JSConf yet, I strongly encourage you to do so. From the organization of the
  event to the quality of the material to the great location selected, the
  conference has far exceeded what were already high expectations.
</p>
<p>
  There were 3 concurrent tracks at the conference, so only those I attended
  myself are summarized here. Other attendees have summarized some of the talks I didn't get to due
  to scheduling conflicts - you can find those at <a
    href="http://jlongster.com/My-JSConf-Diary">jlongster.com (James Long)</a> and <a
    href="https://github.com/airportyh/jsconf13notes">Toby Ho's github
  repo</a>.
</p>
<p>
  If you love writing javascript, enjoy the thought of building client-side JS
apps, working with a lot of node.js and doing awesome things for lots of
customers on mobile devices, <a href="http://jobvite.com/m?3aA3Sfwp"
target="_blank">come work with me at Zappos</a>! (And if you don't like the
Mobile part of that, <a href="http://jobvite.com/m?3HD3SfwZ" target="_blank">there's options for you too -
  in two locations!</a>)
</p>
<h2>Contacting me</h2>
<p>
  Twitter: <a href="http://twitter.com/byterange">@byterange</a>
</p>
<p>
  Email: <a href="mailto:davestevens84@gmail.com">davestevens84@gmail.com</a>
</p>
